{% extends 'base.html' %}

{% block title %} Blog posts {% endblock %}


{% block content %}

    <div class="">
        {% for post in posts %}

            <div class="card" style="width: 18rem;">
                    <img src="{{post['image_path']}}" class="card-img-top" alt="project image">
                    <div class="card-body">
                        <h5 class="card-title">{{post['post_name']}}</h5>
                        <p class="card-text">{{post['post_text']}}</p>
                        <a href="{{url_for('blog.get_post',id=post['id'])}}" class="btn btn-primary">Read More</a>
                        {% if g.user['id'] == post['author_id'] %}
                            <a href="{{url_for('blog.post_update',id=post['id'])}}" class="btn btn-primary">Update</a>
                            <a href="{{url_for('blog.post_delete',id=post['id'])}}" class="btn btn-danger">Delete</a>
                        {% endif %}
                       
                    </div>
            </div>

        {% endfor %}
    </div>
   
{% endblock %}