 
<div class="container my-3">

    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasE" role="button" aria-controls="offcanvasExample">
                Menu
            </a>
        </div>
    </div>
</div>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasE" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">User Actions</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
       <h3 class="text-grey">Create Post and Projects.</h3>
      <div class="d-block">
        <a href="{{url_for('blog.newpost')}}" class="btn btn-primary">Create New Post</a>
          <a href="{{url_for('project.newproject')}}" class="btn btn-primary">Create New Project</a>
        
      </div>
    </div>
    
  </div>
</div>