<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MY CMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{url_for('main.index')}}">Home</a>
                </li>
                {% if g.user %}
                <li class="nav-item">
                     <a class="nav-link" href="#">{{g.user['user_name']}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
                </li>

                {% endif %}
            </ul>
            </div>
        </div>
    </nav>
    <!-- navbar ends -->
    
    <!-- flash messages -->
    {% for messege in get_flashed_messages() %}
        <div class="flask">{{messege}}</div>
    {% endfor %}
    <!-- ends -->
    
    <!-- main content block -->
    {% block content %} {% endblock %}
    <!-- ends -->
    
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>